

/* Injected HTML should be displayed above any content */
.keepr_progress-bar, .keepr_reading-time {
	z-index: 100000;
}

.keepr_progress-bar {
	height: .3rem;
	background-color: purple;
	transition: all ease 100ms;
	top: 0;
  	position: fixed;
	border-radius: 0 1rem 1rem 0;
}

.keepr_reading-time {
	font-family: 'Avenir', sans-serif;
	font-size: small;
	color: #333;
	position: fixed;
	top: .3rem;
	padding: 5px 15px 5px 10px;
	border-radius: 0 25px 25px 0;
	background-color: #FFF;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, .1);
}